{% if collection.handle contains 'browse-watches' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option selected value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}
{% if collection.handle contains 'rolex-datejust' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option  value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option selected value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}
{% if collection.handle contains 'rolex-day-date' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option  value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option selected value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}
{% if collection.handle contains 'rolex-daytona' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option  value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option selected value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}
{% if collection.handle contains 'rolex-gmt-master' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option  value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option selected value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}

{% if collection.handle contains 'rolex-submariner' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option  value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option selected value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}

{% if collection.handle contains 'other-watches' %}
  <div class="cstmnewfield">
    <span class="cf-label cf-title">Collection</span>

    <div class="cstmurls">
      <select class="selectcstm" id="linkSelect">
        <option  value="https://momentum-dubai.com/collections/browse-watches/availability_available">
          All Watches
        </option>
        <option value="https://momentum-dubai.com/collections/rolex-datejust/availability_available">
          Rolex Datejust
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-day-date/availability_available">
          Rolex Day-Date
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-daytona/availability_available">
          Rolex Daytona
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-gmt-master/availability_available">
          Rolex GMT-Master
        </option>
        <option  value="https://momentum-dubai.com/collections/rolex-submariner/availability_available">
          Rolex Submariner
        </option>
        <option selected value="https://momentum-dubai.com/collections/other-watches/availability_available">
          Other Watches
        </option>
      </select>
    </div>
  </div>
{% endif %}

<script>
$(document).ready(function() {
  // Hide the original ul element
  $(".cstmurls ul").hide();
  
  // Add a change event listener to the select element
  $("#linkSelect").change(function() {
    var selectedValue = $(this).val();
    
    // Redirect to the selected URL when an option is chosen
    if (selectedValue) {
      window.location.href = selectedValue;
    }
  });
});
</script>
